3-1==1.0.0
altgraph==0.17
asgiref==3.5.2
autopep8==1.5.4
backports.zoneinfo==0.2.1
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cryptography==37.0.4
cycler==0.11.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==1.0.0
Django==4.0.4
django-cors-headers==3.13.0
django-restframework==0.0.1
django-secure==1.0.2
djangorestframework==3.13.1
fonttools==4.33.3
future==0.18.2
gTTS==2.2.4
gunicorn==20.0.4
idna==3.3
imageio==2.19.3
imageio-ffmpeg==0.4.7
importlib-metadata==4.11.4
kiwisolver==1.4.2
macholib==1.14
Markdown==3.3.7
MarkupSafe==1.1.1
oauthlib==3.2.0
packaging==21.3
pefile==2019.4.18
Pillow==9.1.1
platformdirs==2.5.2
proglog==0.1.10
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pycparser==2.21
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.1
PyYAML==5.3.1
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
soupsieve==2.3.2.post1
toml==0.10.1
tornado==6.0.4
tqdm==4.64.0
typing-extensions==3.7.4.2
urllib3==1.26.9
virtualenv==20.16.5
whitenoise==5.2.0
zipp==3.8.0
qrcode==7.3.1