{% extends "new_base.html" %}

 {% load static %}


{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}


    <!--Container Main start-->
    <div class="container" style="margin-top: 64px;">
        <div class="row">
   
   <h1>ACCESS DENIED </h1>
          </div>
<!-- container start  -->

      <!-- contain er end  -->
    </div>  

            {% endblock %}