
{% extends "base.html" %}

 {% load static %}


{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
            <div class="container">
             <div class="row">
               <div class="col">
                 <div class="card bg-success text-white mt-5">
                   <div class="card-body">
                    {% if access_granted == 1 %}

                     <div class="card-title">Company</div>
                   </div>
                 </div>
                 <form class="table_shadow p-3" method="POST">
                     {% csrf_token %}

                   <div class="form-group mt-3">
                       <label for="addCompany" class="form-label">Company Name</label>
                     <input type="text" class="form-control" id="addCompany" name="addCompany" aria-describedby="company" placeholder="Company">
                   </div>
                   <button type="submit" class="btn btn-success ms-auto mt-2">Add</button>
                 </form>

                 {% endif %}

              {% if access_granted == 0 %}

                <h1> Access Denied </h1>

                {% endif %}
               </div>
               <div class="col">
               </div>
             </div>
             </div>



           {% endblock %}