
{% extends "base.html" %}

 {% load static %}


{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
            <div class="container">
             <div class="row">
               <div class="col">
                 <div class="card bg-success text-white mt-5">
                   <div class="card-body">
                    {% if access_granted == 1 %}

                     <div class="card-title">Company</div>
                   </div>
                 </div>
                 <form class="table_shadow p-3" method="POST">
                     {% csrf_token %}

                   <div class="form-group mt-3">
                       <label for="addCompany" class="form-label">Company Name</label>
                     <input type="text" class="form-control" id="addCompany" name="addCompany" aria-describedby="company" placeholder="Company">
                   </div>

                        {% comment %} <div class="form-group mt-3">
                          <label class="form-label">Select Dowell Layer</label><br/>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer1" value="layer1">
                            <label class="form-check-label" for="layer1">Layer 1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer2" value="layer2">
                            <label class="form-check-label" for="layer2">Layer 2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer3" value="layer3">
                            <label class="form-check-label" for="layer3">Layer 3</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer4" value="option3">
                            <label class="form-check-label" for="layer4">Layer 4</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer5" value="option5">
                            <label class="form-check-label" for="layer5">Layer 5</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer6" value="option6">
                            <label class="form-check-label" for="layer6">Layer 6</label>
                          </div> 
                        </div> {% endcomment %}

                   <button type="submit" class="btn btn-success ms-auto mt-2">Add</button>
                 </form>

                 {% endif %}

              {% if access_granted == 0 %}

                <h1> Access Denied </h1>

                {% endif %}
               </div>
               <div class="col">
               </div>
             </div>
             </div>



           {% endblock %}