

{% extends "new_base.html" %}

 {% load static %}


{% block content %}


<div class="modal fade" id="commonModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
Add Roles
      </div>
      <div class="modal-body">
<form class="card table_shadow p-3" method="POST">
                                           {% csrf_token %}

                        <div class="form-group mt-3">
                            <label for="addRoles" class="form-label">Role Name</label>
                          <input type="text" class="form-control" id="addRole" name="addRole"  aria-describedby="role" placeholder="Role">
                        </div>
                        <button type="submit" name="add_roles_btn" class="btn card_bg text-white ms-auto mt-2">Add</button>
                      </form>      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

      <div class="container" style="margin-top: 64px;">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div class="card card_bg text-white mt-5">
            <div class="card-body">
                                                                              {% if access_granted == 1 %}

              <div class="card-title">Assign Roles</div>
            </div>
          </div>
          <form class="table_shadow p-3" method = "POST">
                {% csrf_token %}

                <div class="col-12 mt-3">
                  <label for="user_" class="form-label">User</label>
                 <select name="users" id="user_" class="form-control" >
           {% for user in users %}
           {% if user.role == 'User' %}

    <option value="{{ user.id }}">{{ user.username }}</option>
    {% endif %}

        {% endfor %}
                  </select>
                </div>


                <div class="col-12 mt-3">
                  <label for="roles_" class="form-label">Roles</label>

                 <select name="roles" id="roles_" class="form-control" >

                            {% if access_level == 'Admin' %}
{% comment %} 
                    <option value="company_lead">Company Lead</option>
                    <option value="organisation_lead">Organisation Lead</option>
                    <option value="department_lead">Department Lead</option>
                    <option value="project_lead">Project Lead</option>
                    <option value="team_member">Team Member</option> {% endcomment %}
                {% for role in roles_list %}

                <option value="{{role.id}}">{{role.role}}</option> 
                      {% endfor %}


                              {% endif %}


                            {% if access_level == 'company_lead' %}

                    <option value="organisation_lead">Organisation Lead</option>
                    <option value="department_lead">Department Lead</option>
                    <option value="project_lead">Project Lead</option>
                    <option value="team_member">Team Member</option>
                              {% endif %}
                            {% if access_level == 'organisation_lead' %}


                    <option value="department_lead">Department Lead</option>
                    <option value="project_lead">Project Lead</option>
                    <option value="team_member">Team Member</option>
                              {% endif %}                            
                            
                            {% if access_level == 'department_lead' %}


                    <option value="project_lead">Project Lead</option>
                    <option value="team_member">Team Member</option>
                              {% endif %}
                            {% if access_level == 'project_lead' %}

                    <option value="team_member">Team Member</option>
                              {% endif %}

                  </select>
                </div>


                <div class="col-12 mt-3">
                            {% comment %} <a class="btn btn-primary" href = "{% url 'add_roles'%}?session_id={{session_id}}" >  Add Roles </a> {% endcomment %}

                            <button type="button" class="btn btn-secondary btn-add-role" data-toggle="modal"> Add a Role </button>
                    <br />
                  <label for="category" class="form-label">Category</label>
                 <select name="category" id="category" class="form-control" >
                      <option>Select value</option>
                  </select>
                </div>
            <button type="submit" name="assign_roles_btn" class="btn text-white card_bg ms-auto mt-2">Add</button>
          </form>

                            <div class="loader" id="loadingMask" style="visibility: hidden;"></div>

                          {% endif %}



                                                {% if access_granted == 0 %}

                <h1> Access Denied </h1>

                {% endif %}
       <script>
       /*
            var category_array = {
              "company_lead": ["Jack", "Bruzz", "Merry", "Hira", "fara"],
              "organization_lead" :["Preston", "Blue-Ray", "Horday", "Kim", "Sam"],
              "department_lead":["Nugh", "Nag", "Bristo", "Jack Ma", "Grill"],
              "project_lead":["Flerdo", "Zenta", "Sigma", "Green-Ray", "Yellow-Jack"],
              "team_member":["Fin", "Stem","brencj","damm"]
            }
            window.onload = function() {
              var roles = document.getElementById("roles_");
              var category = document.getElementById("category");
              for (var x in category_array) {
                roles.options[roles.options.length] = new Option(x, x);
              }
              */
              /*
              roles.onchange = function() {
                //empty Chapters- and Topics- dropdowns
                category.length = 1;
                //display correct values   
                for (var y in category_array) {
                  var a = category_array[this.value];
                  for(var m=0; m<=a.length; m++){
                    category.options[category.options.length] = new Option(a[m],a[m]);         
                  }
                  break;
                }
              }
            }
                          */

            </script> 
        </div>
        <div class="col">
        </div>
      </div>
      </div>  

<script>

                        $('#roles_').change(function(){

            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "{% url 'get_all_data' %}",        
                beforeSend :function(){
                    $("#loadingMask").css('visibility', 'visible');
                },
                success: function (result) {
                  $("#loadingMask").css('visibility', 'hidden');
                   $('#category').empty();
                   console.log( result.companies );
                   // var optionText = result.name;
                    //var optionValue = result.name;
                    var totalCount_comp = result.companies.length;
                    var totalCount_org = result.organisations.length;
                    var totalCount_dept = result.departments.length;
                    var totalCount_proj = result.projects.length;


   
                  if ( $('#roles_').val()== '1') {

                    for (let i = 0; i < totalCount_comp; i++) {

                    $('#category').append(`<option value="${result.companies[i].company}">
                                       ${result.companies[i].company}
                    </option>`);
                    }
                  }

                                    else if ( $('#roles_').val()== '2') {

                    for (let i = 0; i < totalCount_org; i++) {

                    $('#category').append(`<option value="${result.organisations[i].name}">
                                       ${result.organisations[i].name}
                    </option>`);
                    }
                  }



                                                      else if ( $('#roles_').val()== '3') {

                    for (let i = 0; i < totalCount_dept; i++) {

                    $('#category').append(`<option value="${result.departments[i].department}">
                                       ${result.departments[i].department}
                    </option>`);
                    }
                  }




                                                      else if ( $('#roles_').val()== '4') {

                    for (let i = 0; i < totalCount_proj; i++) {

                    $('#category').append(`<option value="${result.projects[i].project}">
                                       ${result.projects[i].project}
                    </option>`);
                    }
                  }


                }
            });
        });


  $(document).ready(function() {
        $('button.btn-add-role').on('click', function() {
          $('#commonModal').modal('show');
        })
      })

</script>
           {% endblock %}