

{% extends "new_base.html" %}

 {% load static %}


{% block content %}



    <div class="container" style="margin-top: 64px;">
        <div class="row">
            <div class="col">
             <a href="{% url 'add_location'%}?session_id={{session_id}}"> <button type="button" id="add_location" class="btn btn-lg"><i type='solid' class='bx bx-plus-circle bx-md' style="vertical-align: sub; margin-right: 15px;"></i>Add Location</button></a>
            </div>
            <div class="col">
              <div class="input-group mt-3" style="float: right; width:66%">
                <div class="form-outline ">
                  <input type="search" id="form1" class="form-control" placeholder="Search anything"/>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="bx bx-search"></i>
    
                </button>
              </div>
            </div>
          </div>
<!-- container start  -->
      <div class="mt-3">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <div class="card card_bg text-white mt-5">
                        <div class="card-body">
                          <div class="card-title">Location</div>
                        </div>
                      </div>
                      <ul class="list-group table_shadow">
                                                    {% for location in locations %}

                                                        {% if location.user == current_user.username %}


                        <li class="list-group-item list-group-item-action oslist">{{location.location}}</li>
                        {% endif %}

                                          {% endfor %}

                      </ul>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
      </div>
      <!-- contain er end  -->
    </div>  

                {% endblock %}