

{% extends "new_base.html" %}

 {% load static %}


{% block content %}





      <div class="container" style="margin-top: 64px;">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div class="card card_bg text-white mt-5">
            <div class="card-body">

              <div class="card-title">Invite Users</div>
            </div>
          </div>
          <form name="invite" class="table_shadow p-3" method = "POST" onsubmit="return validateform()" >
                {% csrf_token %}

                <div class="col-12 mt-3">
                  <label for="company" class="form-label">Brand</label>
                 <select name="companies" id="company" class="users-select form-control"  multiple= "multiple">
           {% for comp in company %}

    <option value="{{ comp.company }}">{{ comp.company }}</option>

        {% endfor %}
                  </select>

                  
                </div>
				<div class="col-12 mt-3">
					<label for="eMail"  class="form-label">Email</label>
					<input type="email" class="form-control" id="eMail" name="eMail"  placeholder="Enter email ID">
				</div>







                        {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}

            <button type="submit" name="assign_roles_btn" class="btn text-white card_bg ms-auto mt-2">Invite</button>
          </form>

                            <div class="loader" id="loadingMask" style="visibility: hidden;"></div>



       <script>
       /*
            var category_array = {
              "company_lead": ["Jack", "Bruzz", "Merry", "Hira", "fara"],
              "organization_lead" :["Preston", "Blue-Ray", "Horday", "Kim", "Sam"],
              "department_lead":["Nugh", "Nag", "Bristo", "Jack Ma", "Grill"],
              "project_lead":["Flerdo", "Zenta", "Sigma", "Green-Ray", "Yellow-Jack"],
              "team_member":["Fin", "Stem","brencj","damm"]
            }
            window.onload = function() {
              var roles = document.getElementById("roles_");
              var category = document.getElementById("category");
              for (var x in category_array) {
                roles.options[roles.options.length] = new Option(x, x);
              }
              */
              /*
              roles.onchange = function() {
                //empty Chapters- and Topics- dropdowns
                category.length = 1;
                //display correct values   
                for (var y in category_array) {
                  var a = category_array[this.value];
                  for(var m=0; m<=a.length; m++){
                    category.options[category.options.length] = new Option(a[m],a[m]);         
                  }
                  break;
                }
              }
            }
                          */

            </script> 
        </div>
        <div class="col">
        </div>
      </div>
      </div>  

<script>

                 

 $(document).ready(function() {
    $('.users-select').select2();
});




function validateform(){  
var users=document.invite.users.value;  
var email =document.invite.eMail.value;  
  
if (users==null || users==""){  
  alert("Please Select Users");  
  return false;  
}
else if(email==null || email==""){
    alert("Please Select Category");  
  return false;  
}
}  
</script>
           {% endblock %}