{% extends "new_base.html" %}

 {% load static %}


{% block content %}



<div class="container" style="margin-top: 64px;">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="mt-3">
                
          <a href="{% url 'get_department' %}?session_id={{session_id}}"> <button type="button" id="viewDepart" class="btn ml-2 btn-lg card_bg text-white">Back</button></a>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
          <div class="input-group mt-3 float-right" style="float: right !important; width:66%">
            <div class="form-outline ">
              <input type="search" id="form1" class="form-control" placeholder="Search anything"/>
            </div>
            <button type="button" class="btn btn-primary">
              <i class="bx bx-search"></i>

            </button>
          </div>
        </div>
      </div>
<!-- container start  -->
      <div class="mt-3">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <div class="card card_bg text-white mt-5">
                        <div class="card-body">
                        {% if access_granted == 1 %}
                          <div class="card-title">Department</div>
                        </div>
                      </div>
              <form name="addDepartment" class="table_shadow p-3" method="POST" onsubmit="return validateform()">
                                  {% csrf_token %}

                  <div class="col-12">
                      <label for="department_name" class="form-label">Department Name</label>
                      <input type="text" class="form-control" id="department_name" name="department_name" placeholder="Department Name">
                    </div>
                    <div class="col-12 mt-3">
                      <label for="orgName" class="form-label">Organization Name</label>
                     <select id="orgName" name="orgName" class="form-control" >
                     {% for organisation in organisations %}
    <option value="{{ organisation.organization_id }}">{{ organisation.name }}</option>
        {% endfor %}
                      
                      </select>
                    </div>
                                       <div class="form-group mt-3">
                          <label class="form-label">Select Dowell Layer</label><br/>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer1" name="layers" value="layer1" onClick="ckChange(this)">
                            <label class="form-check-label" for="layer1">Layer 1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer2" name="layers" value="layer2" onClick="ckChange(this)">
                            <label class="form-check-label" for="layer2">Layer 2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer3" name="layers" value="layer3" onClick="ckChange(this)">
                            <label class="form-check-label" for="layer3">Layer 3</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer4" name="layers" value="layer4" onClick="ckChange(this)">
                            <label class="form-check-label" for="layer4">Layer 4</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer5" name="layers" value="layer5" onClick="ckChange(this)">
                            <label class="form-check-label" for="layer5">Layer 5</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="layer6" name="layers" value="layer6" onClick="ckChange(this)">
                            <label class="form-check-label" for="layer6">Layer 6</label>
                          </div> 
                        </div>

                <button type="submit" class="btn text-white card_bg ms-auto mt-2">Add</button>
              </form>
              {% endif %}


                    {% if access_granted == 0 %}

        <h1> Access Denied </h1>

        {% endif %}         
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
      </div>
      <!-- contain er end  -->
    </div>


    <script>
  

        function validateform(){  
var company=document.addDepartment.department_name.value;  
  
if (company==null || company==""){  
  alert("Department Name Can not be blank");  
  return false;  
}
}  
     
    </script>







    {% endblock %}