{% extends "new_base.html" %}

 {% load static %}


{% block content %}



 <div class="container" style="margin-top: 64px;">
      <div class="row">
        <div class="col">
          <a href="{% url 'add_project' %}?session_id={{session_id}}"><button type="button" id="viewProj" class="btn btn-lg" style="border: thin solid black"><i type='solid' class='bx bx-plus-circle bx-md' style="vertical-align: sub; margin-right: 15px;"></i>Add Project</button></a>
        </div>
        <div class="col">
          <div class="input-group mt-3" style="float: right; width:66%">
            <div class="form-outline ">
              <input type="search" id="form1" class="form-control" placeholder="Search anything"/>
            </div>
            <button type="button" class="btn btn-primary">
              <i class="bx bx-search"></i>

            </button>
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row" style="border: thin solid black">
          <table class="table table-borderless" style="width: 80%; text-align: center">           
            <tbody>

                              {% for project in projects %}

              <tr>
                <td><b>Project:</b></td>
                <td>{{ project.project }}</td>
                <td><b>Department:</b></td>
                <td>{{ project.department_name }}</td>
                <td><a href="{% url 'edit_project' %}?project_id={{project.project_id}}&department_id={{project.department_id}}&session_id={{session_id}}"><button class="btn btn-sm"><i class="bx bx-edit bx-sm"></i></button></a>
                  <button class="btn btn-sm"><i class="bx bx-trash bx-sm"></i></button>
              </td>
              </tr> 

            {% endfor %}

            
            </tbody>
          </table>
        </div>
      </div>
    </div>



    {% endblock %}