{%extends 'level2/allcontent.html'%}

{% block content %}

<div id="levels-tab" class="clearfix eael-tab-content-item inactive" data-title-link="levels-tab">
    <h5> </h5><h5>Levels of my Organisation</h5><p>		<div data-elementor-type="section" data-elementor-id="6222" class="elementor elementor-6222">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-5b43966d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5b43966d" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2d5da258" data-id="2d5da258" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-7ad97cac elementor-widget elementor-widget-eael-adv-tabs" data-id="7ad97cac" data-element_type="widget" data-widget_type="eael-adv-tabs.default">
<div class="elementor-widget-container">
<div id="eael-advance-tabs-7ad97cac" class="eael-advance-tabs eael-tabs-horizontal eael-tab-auto-active" data-tabid="7ad97cac">
<div class="eael-tabs-nav">
<ul class="eael-tab-inline-icon">
<li id="level-1-name" class="inactive eael-tab-item-trigger" aria-selected="true" data-tab="1" role="tab" tabindex="0" aria-controls="level-1-name-tab" aria-expanded="false">

                <i class="fas fa-level-down-alt"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Level 1 [Name]</span>                            
    </li>
<li id="level-2-name" class="inactive eael-tab-item-trigger" aria-selected="false" data-tab="2" role="tab" tabindex="-1" aria-controls="level-2-name-tab" aria-expanded="false">

                <i class="fas fa-level-down-alt"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Level 2 [Name]</span>                            
    </li>
<li id="level-3-name" class="inactive eael-tab-item-trigger" aria-selected="false" data-tab="3" role="tab" tabindex="-1" aria-controls="level-3-name-tab" aria-expanded="false">

                <i class="fas fa-level-down-alt"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Level 3 [Name]</span>                            
    </li>
<li id="level-4-name" class="inactive eael-tab-item-trigger" aria-selected="false" data-tab="4" role="tab" tabindex="-1" aria-controls="level-4-name-tab" aria-expanded="false">

                <i class="fas fa-level-down-alt"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Level 4 [Name]</span>                            
    </li>
<li id="level-5-name" class="inactive eael-tab-item-trigger" aria-selected="false" data-tab="5" role="tab" tabindex="-1" aria-controls="level-5-name-tab" aria-expanded="false">

                <i class="fas fa-level-down-alt"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Level 5 [Name]</span>                            
    </li>
</ul>
</div>

<div class="eael-tabs-content">

<div id="level-1-name-tab" class="clearfix eael-tab-content-item inactive" data-title-link="level-1-name-tab">
    <p>		<div data-elementor-type="section" data-elementor-id="5995" class="elementor elementor-5995">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-13189bec elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="13189bec" data-element_type="section">
<div class="elementor-container elementor-column-gap-wide">
<div class="elementor-row">
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-51b84548" data-id="51b84548" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-4f3afe74 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4f3afe74" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">





<!-- ONE -->
<form action="level-name/" method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="4f3afe74"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="level_name1" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Level Name " required="required" aria-required="true">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Save Level Name</span>
    </span>
</button>
</div>
</div>
</form>





</div>
</div>
<div class="elementor-element elementor-element-10de352d elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="10de352d" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">







<form action="item-name/" method="POST">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="10de352d"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="item_name1" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Item Name">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Add Item to Level</span>
    </span>
</button>
</div>
</div>
</form>




</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2f4dad33" data-id="2f4dad33" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-dddac2a elementor-widget elementor-widget-text-editor" data-id="dddac2a" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">





<div class="elementor-text-editor elementor-clearfix">
<p><strong>{{level_name1}}</strong></p><p> </p>

<ol>
{% for item in item_name1%}
<li>{{item.item_name1}}</li>
{%endfor%}		
</ol>	

</div>





</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5cb351e2" data-id="5cb351e2" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-62245609 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="62245609" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">




<form action="edit-name/", method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="62245609"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Select Item							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="item_name" form-field-name" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">


{% for item in item_name1%}
<option value="{{item.item_name1}}">{{item.item_name1}}</option>
{%endfor%}	

</select>
</div>
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<!-- <button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Edit selected Item Name</span>
    </span>
</button> -->
</div>
</div>

</div>
</div>
<div class="elementor-element elementor-element-64a9363c elementor-widget elementor-widget-heading" data-id="64a9363c" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<input size="1" type="text" name="item_name1" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Edit Selected Item">
</div>
<br>
<div class="elementor-element elementor-element-227cb8fe elementor-align-justify elementor-widget elementor-widget-button" data-id="227cb8fe" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<button type="submit" class="elementor-button-link elementor-button elementor-size-sm" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Save after Edit</span>
</span>
</button>
</form>
</div>
</div>
</div>
<div class="elementor-element elementor-element-45594b90 elementor-widget elementor-widget-spacer" data-id="45594b90" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>

<div id="level-2-name-tab" class="clearfix eael-tab-content-item inactive" data-title-link="level-2-name-tab">
    <p>		<div data-elementor-type="section" data-elementor-id="5995" class="elementor elementor-5995">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-13189bec elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="13189bec" data-element_type="section">
<div class="elementor-container elementor-column-gap-wide">
<div class="elementor-row">
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-51b84548" data-id="51b84548" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-4f3afe74 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4f3afe74" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">





<!-- TWO -->
<form action = "level-name/" method="POST">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="4f3afe74"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="level_name2" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Level Name " required="required" aria-required="true">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Save Level Name</span>
    </span>
</button>
</div>
</div>
</form>







</div>
</div>
<div class="elementor-element elementor-element-10de352d elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="10de352d" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">


<form action="item-name/" method="POST" name="Item">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="10de352d"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="item_name2" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Item Name">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Add Item to Level</span>
    </span>
</button>
</div>
</div>
</form>





</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2f4dad33" data-id="2f4dad33" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-dddac2a elementor-widget elementor-widget-text-editor" data-id="dddac2a" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix">
<p><strong>{{level_name2}}</strong></p><p> </p>
<ol>
{% for item in item_name2%}
<li>{{item.item_name2}}</li>
{%endfor%}	
</ol>					</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5cb351e2" data-id="5cb351e2" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-62245609 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="62245609" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">


<form action="edit-name/", method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="62245609"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Select Item							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="item_name" id="form-field-name" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">



{% for item in item_name2%}
<option value="{{item.item_name2}}">{{item.item_name2}}</option>
{%endfor%}
</select>
</div>
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<!-- <button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Edit selected Item Name</span>
    </span>
</button> -->
</div>
</div>

</div>
</div>
<div class="elementor-element elementor-element-64a9363c elementor-widget elementor-widget-heading" data-id="64a9363c" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<input size="1" type="text" name="item_name2" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Edit Selected Item">
</div>
</div>
<div class="elementor-element elementor-element-227cb8fe elementor-align-justify elementor-widget elementor-widget-button" data-id="227cb8fe" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<button type="submit" class="elementor-button-link elementor-button elementor-size-sm" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Save after Edit</span>
</span>
</button>
</form>
</div>
</div>
</div>
<div class="elementor-element elementor-element-45594b90 elementor-widget elementor-widget-spacer" data-id="45594b90" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>

<div id="level-3-name-tab" class="clearfix eael-tab-content-item inactive" data-title-link="level-3-name-tab">
    <p>		<div data-elementor-type="section" data-elementor-id="5995" class="elementor elementor-5995">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-13189bec elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="13189bec" data-element_type="section">
<div class="elementor-container elementor-column-gap-wide">
<div class="elementor-row">
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-51b84548" data-id="51b84548" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-4f3afe74 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4f3afe74" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">




<!-- THREE -->
<form action="level-name/" method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="4f3afe74"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="level_name3" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Level Name " required="required" aria-required="true">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Save Level Name</span>
    </span>
</button>
</div>
</div>
</form>

</div>
</div>
<div class="elementor-element elementor-element-10de352d elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="10de352d" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">

<form action="item-name/" method="POST" name="Item">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="10de352d"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="item_name3" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Item Name">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Add Item to Level</span>
    </span>
</button>
</div>
</div>
</form>

</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2f4dad33" data-id="2f4dad33" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-dddac2a elementor-widget elementor-widget-text-editor" data-id="dddac2a" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix">
<p><strong>{{level_name3}}</strong></p><p> </p>
<ol>
{% for item in item_name3%}
<li>{{item.item_name3}}</li>
{%endfor%}	
</ol>					</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5cb351e2" data-id="5cb351e2" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-62245609 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="62245609" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">



<form action="edit-name/", method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="62245609"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Select Item							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="item_name" form-field-name" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">

{% for item in item_name3%}
<option value="{{item.item_name3}}">{{item.item_name3}}</option>
{%endfor%}
</select>
</div>
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<!-- <button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Edit selected Item Name</span>
    </span>
</button> -->
</div>
</div>

</div>
</div>
<div class="elementor-element elementor-element-64a9363c elementor-widget elementor-widget-heading" data-id="64a9363c" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<input size="1" type="text" name="item_name3" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Edit Selected Item">
</div>
</div>
<div class="elementor-element elementor-element-227cb8fe elementor-align-justify elementor-widget elementor-widget-button" data-id="227cb8fe" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<button type="submit" class="elementor-button-link elementor-button elementor-size-sm" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Save after Edit</span>
</span>
</button>
</form>
</div>
</div>
</div>
<div class="elementor-element elementor-element-45594b90 elementor-widget elementor-widget-spacer" data-id="45594b90" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>

<div id="level-4-name-tab" class="clearfix eael-tab-content-item inactive" data-title-link="level-4-name-tab">
    <p>		<div data-elementor-type="section" data-elementor-id="5995" class="elementor elementor-5995">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-13189bec elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="13189bec" data-element_type="section">
<div class="elementor-container elementor-column-gap-wide">
<div class="elementor-row">
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-51b84548" data-id="51b84548" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-4f3afe74 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4f3afe74" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">





<!-- FOUR -->
<form action="level-name/" method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="4f3afe74"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="level_name4" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Level Name " required="required" aria-required="true">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Save Level Name</span>
    </span>
</button>
</div>
</div>
</form>


</div>
</div>
<div class="elementor-element elementor-element-10de352d elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="10de352d" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">


<form action="item-name/" method="POST" name="Item">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="10de352d"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="item_name4" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Item Name">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Add Item to Level</span>
    </span>
</button>
</div>
</div>
</form>


</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2f4dad33" data-id="2f4dad33" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-dddac2a elementor-widget elementor-widget-text-editor" data-id="dddac2a" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix">
<p><strong>{{level_name4}}</strong></p><p> </p>
<ol>
{% for item in item_name4%}
<li>{{item.item_name4}}</li>
{%endfor%}	
</ol>					</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5cb351e2" data-id="5cb351e2" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-62245609 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="62245609" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">


<form action="edit-name/", method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="62245609"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Select Item							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="item_name"form-field-name" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">

{% for item in item_name4%}
<option value="{{item.item_name4}}">{{item.item_name4}}</option>
{%endfor%}
</select>
</div>
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<!-- <button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Edit selected Item Name</span>
    </span>
</button> -->
</div>
</div>

</div>
</div>
<div class="elementor-element elementor-element-64a9363c elementor-widget elementor-widget-heading" data-id="64a9363c" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<input size="1" type="text" name="item_name4" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Edit Selected Item">
</div>
</div>
<div class="elementor-element elementor-element-227cb8fe elementor-align-justify elementor-widget elementor-widget-button" data-id="227cb8fe" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<button type="submit" class="elementor-button-link elementor-button elementor-size-sm" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Save after Edit</span>
</span>
</button>
</form>
</div>
</div>
</div>
<div class="elementor-element elementor-element-45594b90 elementor-widget elementor-widget-spacer" data-id="45594b90" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>

<div id="level-5-name-tab" class="clearfix eael-tab-content-item inactive" data-title-link="level-5-name-tab">
    <p>		<div data-elementor-type="section" data-elementor-id="5995" class="elementor elementor-5995">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-13189bec elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="13189bec" data-element_type="section">
<div class="elementor-container elementor-column-gap-wide">
<div class="elementor-row">
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-51b84548" data-id="51b84548" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-4f3afe74 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4f3afe74" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">




<!-- FIVE -->
<form action="level-name/" method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="4f3afe74"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="level_name5" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Level Name " required="required" aria-required="true">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Save Level Name</span>
    </span>
</button>
</div>
</div>
</form>


</div>
</div>
<div class="elementor-element elementor-element-10de352d elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="10de352d" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">


<form action="item-name/" method="POST" name="Item">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="10de352d"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
<input size="1" type="text" name="item_name5" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Item Name">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Add Item to Level</span>
    </span>
</button>
</div>
</div>
</form>


</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2f4dad33" data-id="2f4dad33" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-dddac2a elementor-widget elementor-widget-text-editor" data-id="dddac2a" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix">
<p><strong>{{level_name5}}</strong></p><p> </p>
<ol>
{% for item in item_name5%}
<li>{{item.item_name5}}</li>
{%endfor%}	
</ol>					</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5cb351e2" data-id="5cb351e2" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-62245609 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="62245609" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">


<form action="edit-name/", method="POST" name="New Form">
{% csrf_token %}
<input type="hidden" name="post_id" value="5995"/>
<input type="hidden" name="form_id" value="62245609"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Select Item							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="item_name"form-field-name" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">

{% for item in item_name5%}
<option value="{{item.item_name5}}">{{item.item_name5}}</option>
{%endfor%}
</select>
</div>
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<!-- <button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Edit selected Item Name</span>
    </span>
</button> -->
</div>
</div>

</div>
</div>
<div class="elementor-element elementor-element-64a9363c elementor-widget elementor-widget-heading" data-id="64a9363c" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<input size="1" type="text" name="item_name5" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Edit Selected Item">
</div>
</div>
<div class="elementor-element elementor-element-227cb8fe elementor-align-justify elementor-widget elementor-widget-button" data-id="227cb8fe" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<button type="submit" class="elementor-button-link elementor-button elementor-size-sm" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Save after Edit</span>
</span>
</button>
</form>
</div>
</div>
</div>
<div class="elementor-element elementor-element-45594b90 elementor-widget elementor-widget-spacer" data-id="45594b90" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>


{% endblock content %}