{%extends 'level2/allcontent.html'%}

{% block content %}
<div id="members-tab" class="clearfix eael-tab-content-item inactive" data-title-link="members-tab">
    <h5> </h5><h5>Members of my Organisation</h5><p>		<div data-elementor-type="section" data-elementor-id="6213" class="elementor elementor-6213">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-2490d3d4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2490d3d4" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-23a75f0f" data-id="23a75f0f" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-38c986fa elementor-widget elementor-widget-eael-adv-tabs" data-id="38c986fa" data-element_type="widget" data-widget_type="eael-adv-tabs.default">
<div class="elementor-widget-container">
<div id="eael-advance-tabs-38c986fa" class="eael-advance-tabs eael-tabs-horizontal eael-tab-auto-active" data-tabid="38c986fa">
<div class="eael-tabs-nav">
<ul class="eael-tab-inline-icon">
<li id="team-members" class="inactive eael-tab-item-trigger" aria-selected="true" data-tab="1" role="tab" tabindex="0" aria-controls="team-members-tab" aria-expanded="false">

                <i class="fas fa-user"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Team Members</span>                            
    </li>
<li id="guests" class="inactive eael-tab-item-trigger" aria-selected="false" data-tab="2" role="tab" tabindex="-1" aria-controls="guests-tab" aria-expanded="false">

                <i class="fas fa-user"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Guests</span>                            
    </li>
<li id="public" class="inactive eael-tab-item-trigger" aria-selected="false" data-tab="3" role="tab" tabindex="-1" aria-controls="public-tab" aria-expanded="false">

                <i class="fas fa-user"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Public</span>                            
    </li>
</ul>
</div>

<div class="eael-tabs-content">

<div id="team-members-tab" class="clearfix eael-tab-content-item inactive" data-title-link="team-members-tab">
    <p>		<div data-elementor-type="section" data-elementor-id="6047" class="elementor elementor-6047">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-2f81ef48 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2f81ef48" data-element_type="section">
<div class="elementor-container elementor-column-gap-wide">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-275634bc" data-id="275634bc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-49e4251c elementor-widget elementor-widget-eael-advanced-data-table" data-id="49e4251c" data-element_type="widget" data-widget_type="eael-advanced-data-table.default">
<div class="elementor-widget-container">
<div class="ea-advanced-data-table-wrap" data-id="49e4251c"><div class="ea-advanced-data-table-search-wrap ea-advanced-data-table-search-right"><input type="search" placeholder="Member Search" class="ea-advanced-data-table-search"></div><div class="ea-advanced-data-table-wrap-inner">
<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-49e4251c ea-advanced-data-table-sortable ea-advanced-data-table-paginated ea-advanced-data-table-searchable" data-id="49e4251c" data-items-per-page="10"><thead><tr><th><ol><li>Team Member 1</li><li>Team Member 2</li><li>Team Member 3</li><li>Team Member 4</li><li>Team Member 5</li></ol><p><br></p></th><th></th><th></th><th></th></tr></thead><tbody><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr></tbody></table>
</div><div class="ea-advanced-data-table-pagination ea-advanced-data-table-pagination-button clearfix"></div></div>		</div>
</div>
<div class="elementor-element elementor-element-11cab353 elementor-widget elementor-widget-eael-advanced-data-table" data-id="11cab353" data-element_type="widget" data-widget_type="eael-advanced-data-table.default">
<div class="elementor-widget-container">
<div class="ea-advanced-data-table-wrap" data-id="11cab353"><div class="ea-advanced-data-table-search-wrap ea-advanced-data-table-search-left"><input type="search" placeholder="Invited" class="ea-advanced-data-table-search"></div><div class="ea-advanced-data-table-wrap-inner">
<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-11cab353 ea-advanced-data-table-sortable ea-advanced-data-table-paginated ea-advanced-data-table-searchable" data-id="11cab353" data-items-per-page="5"><thead><tr><th><ol><li>Team Member 1</li><li>Team Member 2</li><li>Team Member 3</li><li>Team Member 4</li><li>Team Member 5</li></ol><p><br></p></th><th></th><th></th><th></th></tr></thead><tbody><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr></tbody></table>
</div><div class="ea-advanced-data-table-pagination ea-advanced-data-table-pagination-button clearfix"></div></div>		</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6999bad5" data-id="6999bad5" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-3118e7f3 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="3118e7f3" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">
<form class="elementor-form" method="post" name="New Form">
<input type="hidden" name="post_id" value="6047"/>
<input type="hidden" name="form_id" value="3118e7f3"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Select Item							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="form_fields[name]" id="form-field-name" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
<option value="Team Member 1">Team Member 1</option>
<option value="Team Member 2">Team Member 2</option>
<option value="Team Member 3">Team Member 3</option>
<option value="Team Member 4">Team Member 4</option>
<option value="Team Member 5">Team Member 5</option>
<option value=""></option>
</select>
</div>
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Remove Team Member</span>
    </span>
</button>
</div>
</div>
</form>
</div>
</div>
<div class="elementor-element elementor-element-4fe1e1fe elementor-widget elementor-widget-spacer" data-id="4fe1e1fe" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-292eebbf elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="292eebbf" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">
<form class="elementor-form" method="post" name="New Form">
<input type="hidden" name="post_id" value="6047"/>
<input type="hidden" name="form_id" value="292eebbf"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
        <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Email" required="required" aria-required="true">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Invite New Team Member</span>
    </span>
</button>
</div>
</div>
</form>
</div>
</div>
<div class="elementor-element elementor-element-17112a32 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="17112a32" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">
<form class="elementor-form" method="post" name="Item">
<input type="hidden" name="post_id" value="6047"/>
<input type="hidden" name="form_id" value="17112a32"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
        <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Show Invitation Link">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Copy Invitation Link </span>
    </span>
</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>

<div id="guests-tab" class="clearfix eael-tab-content-item inactive" data-title-link="guests-tab">
    <p>		<div data-elementor-type="section" data-elementor-id="6051" class="elementor elementor-6051">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-68e04b0e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="68e04b0e" data-element_type="section">
<div class="elementor-container elementor-column-gap-wide">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-47b44364" data-id="47b44364" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-336ef821 elementor-widget elementor-widget-eael-advanced-data-table" data-id="336ef821" data-element_type="widget" data-widget_type="eael-advanced-data-table.default">
<div class="elementor-widget-container">
<div class="ea-advanced-data-table-wrap" data-id="336ef821"><div class="ea-advanced-data-table-search-wrap ea-advanced-data-table-search-right"><input type="search" placeholder="Guest Search" class="ea-advanced-data-table-search"></div><div class="ea-advanced-data-table-wrap-inner">
<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-336ef821 ea-advanced-data-table-sortable ea-advanced-data-table-paginated ea-advanced-data-table-searchable" data-id="336ef821" data-items-per-page="10"><thead><tr><th><ol><li>Guest 1</li><li>Guest 2</li><li>Guest 3</li><li>Guest 4</li><li>Guest 5</li></ol><p><br></p></th><th></th><th></th><th></th></tr></thead><tbody><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr></tbody></table>
</div><div class="ea-advanced-data-table-pagination ea-advanced-data-table-pagination-button clearfix"></div></div>		</div>
</div>
<div class="elementor-element elementor-element-69b48a3a elementor-widget elementor-widget-eael-advanced-data-table" data-id="69b48a3a" data-element_type="widget" data-widget_type="eael-advanced-data-table.default">
<div class="elementor-widget-container">
<div class="ea-advanced-data-table-wrap" data-id="69b48a3a"><div class="ea-advanced-data-table-search-wrap ea-advanced-data-table-search-left"><input type="search" placeholder="Invited" class="ea-advanced-data-table-search"></div><div class="ea-advanced-data-table-wrap-inner">
<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-69b48a3a ea-advanced-data-table-sortable ea-advanced-data-table-paginated ea-advanced-data-table-searchable" data-id="69b48a3a" data-items-per-page="5"><thead><tr><th><ol><li>Guest 1</li><li>Guest 2</li><li>Guest 3</li><li>Guest 4</li><li>Guest 5</li></ol><p><br></p></th><th></th><th></th><th></th></tr></thead><tbody><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr></tbody></table>
</div><div class="ea-advanced-data-table-pagination ea-advanced-data-table-pagination-button clearfix"></div></div>		</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-28a94c61" data-id="28a94c61" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-3902224 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="3902224" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">
<form class="elementor-form" method="post" name="New Form">
<input type="hidden" name="post_id" value="6051"/>
<input type="hidden" name="form_id" value="3902224"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Select Item							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="form_fields[name]" id="form-field-name" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
<option value="Guest 1">Guest 1</option>
<option value="Guest 2">Guest 2</option>
<option value="Guest 3">Guest 3</option>
<option value="Guest 4">Guest 4</option>
<option value="Guest 5">Guest 5</option>
<option value=""></option>
</select>
</div>
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Remove Guest</span>
    </span>
</button>
</div>
</div>
</form>
</div>
</div>
<div class="elementor-element elementor-element-4153f77b elementor-widget elementor-widget-spacer" data-id="4153f77b" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-51ca0848 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="51ca0848" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">
<form class="elementor-form" method="post" name="New Form">
<input type="hidden" name="post_id" value="6051"/>
<input type="hidden" name="form_id" value="51ca0848"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
        <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter Email" required="required" aria-required="true">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Invite New Guest</span>
    </span>
</button>
</div>
</div>
</form>
</div>
</div>
<div class="elementor-element elementor-element-f825d45 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="f825d45" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">
<form class="elementor-form" method="post" name="Item">
<input type="hidden" name="post_id" value="6051"/>
<input type="hidden" name="form_id" value="f825d45"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>
        <input size="1"  type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Show Invitation Link">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Copy Invitation Link </span>
    </span>
</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>

<div id="public-tab" class="clearfix eael-tab-content-item inactive" data-title-link="public-tab">
    <p>		<div data-elementor-type="section" data-elementor-id="6057" class="elementor elementor-6057">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-47be4680 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="47be4680" data-element_type="section">
<div class="elementor-container elementor-column-gap-wide">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6081c63b" data-id="6081c63b" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-b954873 elementor-widget elementor-widget-eael-advanced-data-table" data-id="b954873" data-element_type="widget" data-widget_type="eael-advanced-data-table.default">
<div class="elementor-widget-container">
<div class="ea-advanced-data-table-wrap" data-id="b954873"><div class="ea-advanced-data-table-search-wrap ea-advanced-data-table-search-right"><input type="search" placeholder="Public links used" class="ea-advanced-data-table-search"></div><div class="ea-advanced-data-table-wrap-inner">


<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-b954873 ea-advanced-data-table-sortable ea-advanced-data-table-paginated ea-advanced-data-table-searchable" data-id="b954873" data-items-per-page="10">
<thead>
<tr>
<th>
<ol>
<h6>Total click = {{count}}</h6> 
{%for ip in IPs%}
{{ip}}
{%endfor%}

</ol>
</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr></tbody></table>
</div><div class="ea-advanced-data-table-pagination ea-advanced-data-table-pagination-button clearfix"></div></div>		</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2ab99925" data-id="2ab99925" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-dc0e637 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="dc0e637" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">
<form class="elementor-form" method="post" name="Item">
<input type="hidden" name="post_id" value="6057"/>
<input type="hidden" name="form_id" value="dc0e637"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-">
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">


<label for="form-field-name" class="elementor-field-label elementor-screen-only">
Name							</label>

        <input id="myInput" size="1" value = {{link}} type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Show Invitation Link" readonly>
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<a style="padding-top: 11px;" onclick="copyLink()"type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Copy Invitation Link </span>
    </span>
</a>
</div>
</div>
</form>
</div>
</div>
<div class="elementor-element elementor-element-408890f elementor-widget elementor-widget-eael-advanced-data-table" data-id="408890f" data-element_type="widget" data-widget_type="eael-advanced-data-table.default">
<div class="elementor-widget-container">
<div class="ea-advanced-data-table-wrap" data-id="408890f"><div class="ea-advanced-data-table-search-wrap ea-advanced-data-table-search-right"><input type="search" placeholder="Public links used" class="ea-advanced-data-table-search"></div><div class="ea-advanced-data-table-wrap-inner">
<table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-408890f ea-advanced-data-table-sortable ea-advanced-data-table-paginated ea-advanced-data-table-searchable" data-id="408890f" data-items-per-page="10"><thead><tr><th><ol><li>Link 1</li><li>Link 2</li><li>Link 3</li><li>Link 4</li><li>Link 5</li></ol></th><th></th><th></th><th></th></tr></thead><tbody><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr></tbody></table>
</div><div class="ea-advanced-data-table-pagination ea-advanced-data-table-pagination-button clearfix"></div></div>		</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>
{% endblock content %}