{%extends 'level2/allcontent.html'%}

{% block content %}
<div id="roles-tab" class="clearfix eael-tab-content-item inactive" data-title-link="roles-tab">
    <h5> </h5><h5>Roles in my Organisation</h5><p>		<div data-elementor-type="section" data-elementor-id="6324" class="elementor elementor-6324">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-3a554374 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3a554374" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-69fc900e" data-id="69fc900e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-53118434 elementor-widget elementor-widget-heading" data-id="53118434" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-medium">Select</h2>		</div>
</div>
<div class="elementor-element elementor-element-4695003b elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4695003b" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
<div class="elementor-widget-container">
<form class="elementor-form" method="post" name="Item">
<input type="hidden" name="post_id" value="6324"/>
<input type="hidden" name="form_id" value="4695003b"/>
<input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />

<input type="hidden" name="queried_id" value="5880"/>

<div class="elementor-form-fields-wrapper elementor-labels-above">
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-field_a5eeae4 elementor-col-100">
<label for="form-field-field_a5eeae4" class="elementor-field-label">
Level 1							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="form_fields[field_a5eeae4]" id="form-field-field_a5eeae4" class="elementor-field-textual elementor-size-sm">
<option value="Select">Select</option>
</select>
</div>
</div>
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-field_7691692 elementor-col-100">
<label for="form-field-field_7691692" class="elementor-field-label">
Level 2							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="form_fields[field_7691692]" id="form-field-field_7691692" class="elementor-field-textual elementor-size-sm">
<option value="Select">Select</option>
</select>
</div>
</div>
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-field_8da106b elementor-col-100">
<label for="form-field-field_8da106b" class="elementor-field-label">
Level 3							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="form_fields[field_8da106b]" id="form-field-field_8da106b" class="elementor-field-textual elementor-size-sm">
<option value="Select">Select</option>
</select>
</div>
</div>
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-field_2a1ba7a elementor-col-100">
<label for="form-field-field_2a1ba7a" class="elementor-field-label">
Level 4							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="form_fields[field_2a1ba7a]" id="form-field-field_2a1ba7a" class="elementor-field-textual elementor-size-sm">
<option value="Select">Select</option>
</select>
</div>
</div>
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-field_4392a9c elementor-col-100">
<label for="form-field-field_4392a9c" class="elementor-field-label">
Level 5							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="form_fields[field_4392a9c]" id="form-field-field_4392a9c" class="elementor-field-textual elementor-size-sm">
<option value="Select">Select</option>
</select>
</div>
</div>
<div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-field_0ed0a93 elementor-col-100">
<label for="form-field-field_0ed0a93" class="elementor-field-label">
Security Layers							</label>
<div class="elementor-field elementor-select-wrapper ">
<select name="form_fields[field_0ed0a93]" id="form-field-field_0ed0a93" class="elementor-field-textual elementor-size-sm">
<option value="Select">Select</option>
<option value="Security Layer 1 (High)">Security Layer 1 (High)</option>
<option value="Security Layer 2">Security Layer 2</option>
<option value="Security Layer 3">Security Layer 3</option>
<option value="Security Layer 4">Security Layer 4</option>
<option value="Security Layer 5">Security Layer 5</option>
<option value="Security Layer 6 (Low)">Security Layer 6 (Low)</option>
</select>
</div>
</div>
<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_eb53206 elementor-col-100">
<label for="form-field-field_eb53206" class="elementor-field-label">
Role Name							</label>
        <input size="1" type="text" name="form_fields[field_eb53206]" id="form-field-field_eb53206" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter a Name">
</div>
<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
<button type="submit" class="elementor-button elementor-size-sm">
<span >
            <span class=" elementor-button-icon">
                                                        </span>
                                        <span class="elementor-button-text">Create Role</span>
    </span>
</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-785a58bb" data-id="785a58bb" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-64d84805 elementor-widget elementor-widget-heading" data-id="64d84805" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-medium">Roles Created</h2>		</div>
</div>
<div class="elementor-element elementor-element-63719dd7 elementor-widget elementor-widget-eael-adv-tabs" data-id="63719dd7" data-element_type="widget" data-widget_type="eael-adv-tabs.default">
<div class="elementor-widget-container">
<div id="eael-advance-tabs-63719dd7" class="eael-advance-tabs eael-tabs-horizontal eael-tab-auto-active" data-tabid="63719dd7">
<div class="eael-tabs-nav">
<ul class="eael-tab-inline-icon">
<li id="layers" class="inactive eael-tab-item-trigger" aria-selected="true" data-tab="1" role="tab" tabindex="0" aria-controls="layers-tab" aria-expanded="false">

                <i class="fas fa-torii-gate"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Layers</span>                            
    </li>
<li id="levels" class="inactive eael-tab-item-trigger" aria-selected="false" data-tab="2" role="tab" tabindex="-1" aria-controls="levels-tab" aria-expanded="false">

                <i class="fas fa-home"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Levels</span>                            
    </li>
<li id="name" class="inactive eael-tab-item-trigger" aria-selected="false" data-tab="3" role="tab" tabindex="-1" aria-controls="name-tab" aria-expanded="false">

                <i class="fas fa-home"></i>                                                            
            <span class="eael-tab-title  title-after-icon">Name</span>                            
    </li>
</ul>
</div>

<div class="eael-tabs-content">

<div id="layers-tab" class="clearfix eael-tab-content-item inactive" data-title-link="layers-tab">
    <div data-pm-slice="1 1 []" data-en-clipboard="true"><strong>[Select Security Layer 1/2/3/4/5/6]</strong></div>
<div data-pm-slice="1 1 []" data-en-clipboard="true"><strong>
<select id="layerSelect">
<option>SECURITY LAYER 1</option>
<option>SECURITY LAYER  2</option>
<option>SECURITY LAYER  3</option>
<option>SECURITY LAYER  4</option>
<option>SECURITY LAYER  5</option> <option>SECURITY LAYER 6
</select>
</div>&nbsp;
<ol>

<div data-pm-slice="1 1 []" data-en-clipboard="true">
[Select Role Name]</strong></div>
&nbsp;
<ol>

<select id="rolename">
<option>Role Name 1</option>
<option>Role Name  2</option>
<option>Role Name  3</option>
<option>Role Name  4</option>
<option>Role Name  5</option> <option>Role Name 6
</select>
<li style="list-style-type: none;">
<ol>
<li>Level 1
<ol>
<li>Item 1</li>
<li>Item 2</li>
</ol>
</li>
<li>Level 2
<ol>
<li>Item 1</li>
<li>Item 2</li>
</ol>
</li>
<li>Level 3</li>
<li>Level 4</li>
<li>Level 5</li>
</ol>
</li>
</ol>				                            </div>

<div id="levels-tab" class="clearfix eael-tab-content-item inactive" data-title-link="levels-tab">
    <div data-pm-slice="1 1 []" data-en-clipboard="true"><strong>[Select Organisation Levels 1/2/3/4/5]</strong></div><div data-pm-slice="1 1 []" data-en-clipboard="true"> </div><ol><li>Security Layer 1<ol><li>Device all</li><li>OS all</li></ol></li><li>Security Layer 2<br /><ol><li>Wifi all</li><li>Location all</li></ol></li><li>Security Layer 3<br /><ol><li>IP all</li><li>Wifi office</li></ol></li></ol>				                            </div>

<div id="name-tab" class="clearfix eael-tab-content-item inactive" data-title-link="name-tab">
    <div data-pm-slice="1 1 []" data-en-clipboard="true"><strong>[Select Role Name]</strong></div><div data-pm-slice="1 1 []" data-en-clipboard="true"> </div><div data-pm-slice="1 1 []" data-en-clipboard="true">Level 1 - </div><div data-pm-slice="1 1 []" data-en-clipboard="true">Level 2 -</div><div data-pm-slice="1 1 []" data-en-clipboard="true">Level 3 -</div><div data-pm-slice="1 1 []" data-en-clipboard="true">Level 4 -</div><div data-pm-slice="1 1 []" data-en-clipboard="true">Level 5 -</div><div data-pm-slice="1 1 []" data-en-clipboard="true">Security Layer - </div><div data-pm-slice="1 1 []" data-en-clipboard="true"> </div><div data-pm-slice="1 1 []" data-en-clipboard="true">[Edit]</div>				                            </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</p>				                            </div>


{% endblock content %}